.bg-brand{
    background-color: $light_blue ;
}
.sig-brnd{
    display: flex;
    margin-right: 4em;
    margin-top: 4em;
    justify-content: end;
}
.about-wrap-comp{
    margin-top: 7em;
}
@media (max-width: 768px) {

}
