.announce-wrap {
  background-color: $white;
  width: 100%;
}

.order-bg {
  background-color: $light_blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5em;
  margin-left: 6em;
}
.order-row {
  display: flex;
  justify-items: center;
}
.order-hd {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  margin-block: 1em;
}
.orderpara {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 3em;
  margin-bottom: 5em;
  color: $dark_brown;
}
.order-btn:hover {
  border: 3px solid white;
  color: $white !important;
  background-color: $dark_brown !important;
}
.order-img {
  margin-left: -1em;
}
@media (max-width: 768px) {
  .order-bg {
    padding-bottom: 2em;
    padding-inline: 5em;
    margin-left: 0em;
  }
  .order-img {
    width: 768px;
    object-fit: cover;
    height: 400px;
  }
}

@media (max-width: 375px) {

    .order-bg {
        background-color: $light_blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 0;
        margin-left: 0em;
        text-align: center;
      }
    .order-hd {
        font-size: 30px;
        margin-block: 1em;
        padding-inline: 10px;
      }
      .order-img {
        width: 375px !important;
        object-fit: cover;
        height: 350px;
      }
      .orderpara {
        
        padding-inline: 2em;
        line-height: 22px;
        margin-top: 2em;
        margin-bottom: 5em;
      }
}