.roast-wrap {
  background-color: $yellow;
  padding-block: 3em;
}

.roast-info {
  margin-left: 7em;

  color: $white;
}
.roast-btn:hover{
  background-color: $yellow !important;
  border: 3px solid $white;
  color: $white !important;
}
@media (max-width: 768px) {
  .roast-info {
    color: $white;
    margin-left: 2em;
  }
  .roast-row {
    text-align: center;
  }
  .img-roast {
margin-left: 7em;
margin-top: 8em;
  }
}
@media (max-width: 375px) {
  .img-roast {
    width: 260px;
    margin-left: 2.5em;
margin-top: 8em;
  }
  .roast-info {
    margin-left: 1em;
  }
}
