.footer-con {
  height: 79vh;
}

.lis-row-ft {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
}
.ft-li {
  color: $white !important;
  text-decoration: none !important;
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
}
.lower-footer {
  display: flex;
  justify-content: space-between;
}
.li-socials {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
.ft-colu1 {
  margin-left: 3em;
}
.logo-ft {
  margin-left: 2em;
}
.happy-ft {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  margin-left: -2em;
  padding-top: 20px;
  color: $white;
}
.ft-ul {
  list-style: none;
  text-align: right;
}
.ft-links {
  font-family: "Quicksand";
  font-style: normal;
  color: $yellow;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.ft-links:hover {
  text-decoration: underline;
}
.rigt-ft-pays {
  display: flex;
  flex-direction: row;
}
.right-footer-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: -2em;
  margin-right: 2em;
}
@media (max-width: 768px) {
  .ft-li {
    font-weight: 300;
    font-size: 20px;
  }
  .right-footer-info {
    display: flex;
    justify-items: center;
    margin-top: 3em;
    flex-direction: column;
    margin-bottom: 0em;
    margin-right: 1em;
  }
  .ft-ul {
    margin-top: -2em;
  }

  .ft-colu1 {
    margin-left: 0em;
  }
  .happy-ft {
    width: 300px;
    margin-left: 0.5em;
  }
}
@media (max-width: 320px) {
  .ft-li {
    color: $white !important;
    text-decoration: none !important;
    font-weight: 300;
    font-size: 17px;
    line-height: 38px;
  }
  .happy-ft {
    font-size: 20px;
    margin-left: 0em;
  padding-top: 0px;

  }
  .rigt-ft-pays{
display: flex;
justify-content: center;
  }
}
