.origin-wrap{
    background-color: $orange;
  padding-block: 5em;

}
.origin-row{
    gap:20px;
}

.origin-btn:hover{
  background-color: $orange !important;
  border: 3px solid $white;
  color: $white !important;
}
@media (max-width: 375px) {
  .img-blendsss{

width: 260px;    margin-left: 3em;
  }


}